.container {
    text-align: center;
}

.center {
    margin: auto;
    width: 80%;
    border: 3px solid black;
    padding: 10px;
}

button {
    color: #494949 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 10px;
    border: 2px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
}

#timer, #minutes {
    background-color: white;
    text-align: center;
}

button:hover {
    color: #494949 !important;
    border-radius: 50px;
    border-color: #494949 !important;
    transition: all 0.3s ease 0s;
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(27,27,231,0.4682247899159664) 0%, rgba(0,212,255,1) 100%);
}

input {
    text-align: center;
    font-size: 32px;
}

.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center; 
    justify-content: center;
}

.form-inline label {
    margin: 5px 10px 5px 0;
}

.form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.form-inline button {
    padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white; 
}

.form-inline button:hover {
    background-color: royalblue;
}

@media (max-width: 800px) {
    .form-inline input {
        margin: 10px 0;
    }

    .form-inline {
        flex-direction: column;
        align-items: stretch;
    }
}






















